<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
]>
<root id="-1">
  <home id="1155" key="f6ec619a-eded-4137-977d-534147eb4de4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-28T23:26:50" updateDate="2018-08-29T10:18:49" nodeName="Home" urlName="home" path="-1,1155" isDoc="" nodeType="1151" creatorName="Solomio Sisante" writerName="Solomio Sisante" writerID="0" template="1148" nodeTypeAlias="home" isPublished="true">
    <homeGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1160,
                    "udi": "umb://media/f193373f83124f7b9e220b047266f983",
                    "image": "/media/1031/c-projects-diversifyumbracoweb-diversifyumbracoweb-media-images-polygon.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "0b7e8eb2-6310-0c77-56d1-5508e7975c18"
        },
        {
          "name": "Testimonials",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1133,
                    "udi": "umb://media/3d758b1f24ec47b0a75c225b0444991b",
                    "image": "/media/1030/16403439029_f500be349b_o.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdfasdfasdfasdfaasdfsdfasdfasdfasd</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdfasdfasdfasdfasdf</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "25dec3e9-b148-9569-c0ef-c57b1fe1de45"
        }
      ]
    }
  ]
}]]></homeGrid>
    <profile id="1167" key="a3ab3b73-2282-46a1-a7bd-6d885223200e" parentID="1155" level="2" creatorID="0" sortOrder="0" createDate="2018-08-29T03:50:45" updateDate="2018-08-29T04:00:39" nodeName="Profile" urlName="profile" path="-1,1155,1167" isDoc="" nodeType="1162" creatorName="Solomio Sisante" writerName="Solomio Sisante" writerID="0" template="1161" nodeTypeAlias="profile" isPublished="true">
      <profileGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1134,
                    "udi": "umb://media/208abda163b54ba1bc2a3d40fe156bb6",
                    "image": "/media/1001/4730684907_8a7f8759cb_b.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdfasdfasdfadfasdfasdfasdf</p>\n<p>asdfasdfasdfasdfasdfasdfasdf</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "83ad0c44-8ffb-2610-91cd-57c1c1712c2a"
        },
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdfasdfasdfasdfasdfadsfasdfsdfasfdasdfasdfasdfsadfsdfsdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdfasdfasdfasdf</p>\n<p>asdfasdfasdfasdfasdfadsfafasdfasdfasdfffdddddddddddddddddddddddddddddddddddddddddddddd</p>\n<p>sdffffffffffffffffffffffffffffffffffffffffffffffffff</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "5ffa7cb0-ca27-3f18-4664-66dea627bc8e"
        }
      ]
    }
  ]
}]]></profileGrid>
    </profile>
  </home>
  <profile id="1165" key="6b2de188-eb52-4996-8148-9a95d9cbb18c" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-08-29T01:59:35" updateDate="2018-08-29T10:19:02" nodeName="Profile" urlName="profile" path="-1,1165" isDoc="" nodeType="1162" creatorName="Solomio Sisante" writerName="Solomio Sisante" writerID="0" template="1161" nodeTypeAlias="profile" isPublished="false">
    <profileGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1133,
                    "udi": "umb://media/3d758b1f24ec47b0a75c225b0444991b",
                    "image": "/media/1030/16403439029_f500be349b_o.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdfasdfasdfasdfasdfasdfasdfadfasdfasfdasdfasdf</p>\n<p>asdfasdfasdfasdf</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "481d8195-2a46-30bd-21c8-fcf93fe2f8a5"
        },
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdfasdfasdfasfasdfasdf</p>\n<p>asdfasdfasdfasdf</p>\n<p>asdf</p>\n<p>adfasdfasdfasdf</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "61f181fa-de04-2321-5ff2-49df3d0c1127"
        }
      ]
    }
  ]
}]]></profileGrid>
  </profile>
</root>