<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
]>
<root id="-1">
  <home id="1155" key="f6ec619a-eded-4137-977d-534147eb4de4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-28T23:26:50" updateDate="2018-08-31T15:56:25" nodeName="Home" urlName="home" path="-1,1155" isDoc="" nodeType="1151" creatorName="Solomio Sisante" writerName="Admin1" writerID="4" template="1148" nodeTypeAlias="home" isPublished="false">
    <homeGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1160,
                    "udi": "umb://media/f193373f83124f7b9e220b047266f983",
                    "image": "/media/1031/c-projects-diversifyumbracoweb-diversifyumbracoweb-media-images-polygon.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "5b7e336f-36e2-8c40-ccb1-8fa2b8936ed7"
        },
        {
          "name": "Testimonials",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1144,
                    "udi": "umb://media/def8b9622107486db2d65be3639a6c31",
                    "image": "/media/1004/18531854019_351c579559_h.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><br />Configuring a custom setting or style<br />To add a setting, click the edit settings link. This will expand a dialog showing you the raw configuration data. This data is in the JSON format and will only save if it's valid JSON.<br />The settings data could look like this, with an object for each setting:</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Sept 4, 2014\n\nBeautiful morning, clear sky is blue\nCool wind is blowing, funny good feeling too\nReminds me of you...\n\nThe trees in the mountain, flowers in bloom,\nThe warmth of the sun, the shivers of the wind,\nThey remind me of you...\n\nRefrain:\nAll these things that I said don't compare to you,\nYou're my hapiness and I love you...\n\nChorus:\nBeautiful You...Beautiful You...Beautiful You...\n\nThe stars in the evening, big moon is bright,\nThe music is ready, let's dance through the night,\nWe'll be alright...\n\nRed wine is tempting, let's cross our arms\nTable is full, just like the same\nOur hearts are entwined\n\nRepeat Refrain and Chorus till fade...",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "4fbfd3fb-ab0c-55cb-7d16-6f3a32069549"
        }
      ]
    }
  ]
}]]></homeGrid>
    <profile id="1169" key="0b57655d-8a2b-401f-9dd7-81e34b948c82" parentID="1155" level="2" creatorID="0" sortOrder="0" createDate="2018-08-29T12:41:30" updateDate="2018-08-29T21:00:43" nodeName="Profile" urlName="profile" path="-1,1155,1169" isDoc="" nodeType="1162" creatorName="Solomio Sisante" writerName="Solomio Sisante" writerID="0" template="1161" nodeTypeAlias="profile" isPublished="true">
      <profileGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1146,
                    "udi": "umb://media/fcc186008f9b499589543cb0d335faf1",
                    "image": "/media/1005/18530280048_459b8b61b2_h.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Configuring a custom setting or style\nTo add a setting, click the edit settings link. This will expand a dialog showing you the raw configuration data. This data is in the JSON format and will only save if it's valid JSON.\nThe settings data could look like this, with an object for each setting:",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "ea21a65d-79c8-d86c-12b4-922c05b9b80c"
        },
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><br />Sept 4, 2014</p>\n<p>Beautiful morning, clear sky is blue<br />Cool wind is blowing, funny good feeling too<br />Reminds me of you...</p>\n<p>The trees in the mountain, flowers in bloom,<br />The warmth of the sun, the shivers of the wind,<br />They remind me of you...</p>\n<p>Refrain:<br />All these things that I said don't compare to you,<br />You're my hapiness and I love you...</p>\n<p>Chorus:<br />Beautiful You...Beautiful You...Beautiful You...</p>\n<p>The stars in the evening, big moon is bright,<br />The music is ready, let's dance through the night,<br />We'll be alright...</p>\n<p>Red wine is tempting, let's cross our arms<br />Table is full, just like the same<br />Our hearts are entwined</p>\n<p>Repeat Refrain and Chorus till fade...</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "11a455aa-ad83-cb0b-3f3d-b4bcb8f43f50"
        }
      ]
    }
  ]
}]]></profileGrid>
    </profile>
  </home>
</root>