<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="Friday, 31 August 2018 3:16:50 AM">
  <Actions>
    <Action Change="Export" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Description - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Call To Action Link - Content Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Design - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Content Base - Content - Grid layout" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Products - Default Currency - Dropdown list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Person - Photo - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Contact - Contact Intro - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Contact - Your Address - Terratype" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="People - Featured People - Multinode Treepicker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Color Theme - Radio button list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Font - Radio button list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Content - Grid layout" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Blogpost - Categories - Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Employee - Department - Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Navigation Base - Keywords - Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Product - Category - Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Product - Features - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Product - Price - Decimal" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Blog - How many posts should be shown - Slider" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Products - Featured Products - Multinode Treepicker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Product - Photos - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - products" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Contact - Pick a Contact Form - Form Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Header - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - BodyText - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - home" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home - Form Picker - Form Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Home" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Master" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Profile" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Profile" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Home" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Folder" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Image" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="File" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="en-US" Type="ILanguage" />
    <Action Change="Export" Success="true" Message="" Name="Select Featured Products" Type="IMacro" />
    <Action Change="Export" Success="true" Message="" Name="Get Latest Blogposts" Type="IMacro" />
    <Action Change="Export" Success="true" Message="" Name="Showcase Product" Type="IMacro" />
    <Action Change="Export" Success="true" Message="" Name="Insert Form with Theme" Type="IMacro" />
  </Actions>
</uSync>