@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

 
<html>

	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<title>Diversify Umbraco</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	 
    	<link rel="stylesheet" href="/css/master.css">

	</head>
	<body>
	    @Umbraco.Field("umbracoMemberFailedPasswordAttempts")
        @Umbraco.Field("pageName")
        @RenderBody()
     	    	
	</body>

	
	
</html>



