<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT root ANY>
<!ATTLIST root id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT profile ANY>
<!ATTLIST profile id ID #REQUIRED>
]>
<root id="-1">
  <root id="1155" key="f6ec619a-eded-4137-977d-534147eb4de4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-28T23:26:50" updateDate="2018-09-01T00:01:55" nodeName="Root" urlName="root" path="-1,1155" isDoc="" nodeType="1176" creatorName="Solomio Sisante" writerName="Admin1" writerID="4" template="1175" nodeTypeAlias="root" isPublished="true">
    <home id="1173" key="1a380ba9-bf4a-4670-81f4-825ced78a872" parentID="1155" level="2" creatorID="4" sortOrder="0" createDate="2018-08-31T23:14:44" updateDate="2018-08-31T23:21:37" nodeName="Home" urlName="home" path="-1,1155,1173" isDoc="" nodeType="1151" creatorName="Admin1" writerName="Admin1" writerID="4" template="1148" nodeTypeAlias="home" isPublished="true">
      <homeGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1172,
                    "udi": "umb://media/5e893ef644fd42f3b273572834f115c3",
                    "image": "/media/1032/banner.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "c4ada203-03df-821d-bcc4-f228a5e275c2"
        },
        {
          "name": "Testimonials",
          "areas": [
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1137,
                    "udi": "umb://media/57643398d9174b93bc71e9c3038a0abc",
                    "image": "/media/1011/5852022211_9028df67c0_b.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Introduction</strong></p>\n<p> </p>\n<p>Your first step in the recruitment process is to demonstrate your understanding of writing code in C#. Once your code has been submitted, it will be reviewed.</p>\n<p> </p>\n<p>Please record yourself solving the problems in a <strong>video with audio</strong> and provide the video to watch. Mistakes and Google are definitely allowed, it’s just about seeing how you would solve a problem.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "docType"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "When writing your code, please be mindful of the following\n\n•\tYour code should be production ready.\n\n•\tYour code should be understandable and maintainable by other developers.\n\n•\tYour code should be robust and handle error situations.\n\n•\tYour code should be bug free, compile and work.\n\n•\tif your code includes unit tests you may use a unit test framework of your choice",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "061c3fd1-6085-465e-5a62-ef50bfe155ed",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></homeGrid>
    </home>
    <profile id="1174" key="2ed77f21-b130-473e-b4b2-c547a8c8b445" parentID="1155" level="2" creatorID="4" sortOrder="1" createDate="2018-08-31T23:17:04" updateDate="2018-09-01T00:02:30" nodeName="Profile" urlName="profile" path="-1,1155,1174" isDoc="" nodeType="1162" creatorName="Admin1" writerName="Admin1" writerID="4" template="1161" nodeTypeAlias="profile" isPublished="true">
      <profileGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "media",
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1144,
                    "udi": "umb://media/def8b9622107486db2d65be3639a6c31",
                    "image": "/media/1004/18531854019_351c579559_h.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Professional Summary\n\n24 years experience in analysis, design, development, testing and maintenance of software applications accepting multiple roles from developer to team lead.\nExpertise with SharePoint, AJAX, C#.NET, VB.NET, ASP.NET, VB6, ASP, SQL Server, SSIS, Reporting Services, Crystal Reports, Microsoft POS Systems, etc.\nSuccessfully designed and developed a significant N-Tier application using these technologies with demonstrated expertise on the presentation layer (with a web-based interface), middle tier, and database layer.\nApplication of Full Life Cycle Software Development \nAccomplished at least 10 Full Life Cycle Software Development \nExperience in the sole architecture of Core Layers and functionalities.\nOnline web-development. Online client updates.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "ef5bb70f-8dbf-a2c5-6ce1-a6507d68acbb"
        },
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><strong>Software Skill Set:</strong></p>\n<p> </p>\n<p>SharePoint 2010, 2013, 2016, ASP.Net, C#, VB.Net, MS SQL Server (OLTP, OLAP), Oracle, MySQL, .Net Framework 1.0 to the latest (WCF, WPF, Web API, Web Services, etc.), Client scripting(JavaScript, JQuery, AngularJS 1-4, ember, backbone, knockout, etc..), Responsive App (HTML5, Bootstrap, CSS), UnityIOC, CMS(DNN, Umbraco, Drupal, Joomla, nopCommerce, etc.), OOP, OOD, Repositories (VSS, TFS, Git, SourceOfSite, Mercurial HG, TorToise, etc), Cloud Computing (Azure, CloudShare, etc.), Methodologies (WaterFall, Agile/Scrum, Hybrid, CMMI), Virtual Machines (Oracle Virtual Box,VMWare,Virtual Player, Virtual PC, Windows VM)</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "baf0edc8-400d-269c-f9db-df087baa51e1"
        }
      ]
    }
  ]
}]]></profileGrid>
    </profile>
  </root>
  <root id="1155" key="f6ec619a-eded-4137-977d-534147eb4de4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-28T23:26:50" updateDate="2018-09-01T00:02:13" nodeName="Root" urlName="root" path="-1,1155" isDoc="" nodeType="1176" creatorName="Solomio Sisante" writerName="Admin1" writerID="4" template="1175" nodeTypeAlias="root" isPublished="true" />
</root>